/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

main section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Media Queries */
/* For devices with screen width up to 600 pixels */
@media only screen and (max-width: 600px) {
    header {
        text-align: center;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    main {
        padding: 10px;
    }
    footer {
        text-align: center;
    }
}
